{% load vue_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Django Template Page</title>

    {% render_bundle 'app' 'css' 'VUESAMPLE' %}

</head>
<body>
<h3>{{ django_var }}</h3>
<div id=app></div>

	{% render_bundle 'manifest' 'js' 'VUESAMPLE' %}
    {% render_bundle 'vendor' 'js' 'VUESAMPLE' %}
    {% render_bundle 'app' 'js' 'VUESAMPLE' %}

</body>
</html>