#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:60px}h1[data-v-1fe33634],h2[data-v-1fe33634]{font-weight:400}ul[data-v-1fe33634]{list-style-type:none;padding:0}li[data-v-1fe33634]{display:inline-block;margin:0 10px}a[data-v-1fe33634]{color:#42b983}
/*# sourceMappingURL=app.4b327a7cd5e09d8b19fad7441ae7b5a1.css.map */